<h1>All Users</h1>
<% if !@users.blank? %>
  <% @users.each do |u| %>
  <p><a href="/users/<%= u.id %>"><%= u.email %><a></p>

  <% end %>
<% else %>
  <p>There are no users. You should do something about that...</p>
<% end %>
